<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<connectionStrings>
		<add name="ShopHelperMembershipDb" connectionString="your connection string here" />
	</connectionStrings>
	<appSettings>
		<add key="CLOUDINARY_URL" value="your CLOUDINARY_URL here" />
		<add key="AccountsStoreURL" value="your AccountsStoreURL here" />
		<add key="AccountsFolderName" value="ProfilesImages" />
	</appSettings>
	<system.web>
    <customErrors mode="Off"/>
		<compilation debug="true" targetFramework="4.0">
      
			<assemblies>
				<add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
				<add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
				<add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" /></assemblies></compilation>
		<httpRuntime requestValidationMode="2.0" />
		<pages validateRequest="false" maintainScrollPositionOnPostBack="true"/>
		<authentication mode="Forms">
			<forms loginUrl="~/Login" defaultUrl="~/Home" />
		</authentication>
		<urlMappings>
			<add url="~/" mappedUrl="~/UI/Login.aspx" />
		</urlMappings>
		<membership defaultProvider="ShopHelperAspMembershipProvider" userIsOnlineTimeWindow="1">
			<providers>
				<clear />
				<add name="ShopHelperAspMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ShopHelperMembershipDb" minRequiredPasswordLength="5" minRequiredNonalphanumericCharacters="0" requiresUniqueEmail="false" applicationName="ShopHelperAsp" requiresQuestionAndAnswer="false" enablePasswordReset="true" />
			</providers>
		</membership>
		<roleManager enabled="true" defaultProvider="ShopHelperAspRoleProvider">
			<providers>
				<clear />
				<add connectionStringName="ShopHelperMembershipDb" applicationName="ShopHelperAsp" name="ShopHelperAspRoleProvider" type="System.Web.Security.SqlRoleProvider" />
			</providers>
		</roleManager>
		<profile enabled="true" defaultProvider="AspNetSqlProfileProvider">
			<providers>
				<clear />
				<add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ShopHelperMembershipDb" applicationName="ShopHelperAsp" />
			</providers>
			<properties>
				<add name="Avatar" type="String" />
				<add name="ProfileImage" type="String" />
			</properties>
		</profile>
	</system.web>
  
	<location path="~/Css">
		<system.web>
			<authorization>
				<allow users="?" />
			</authorization>
		</system.web>
	</location>
	<location path="~/ProfilsPics">
		<system.web>
			<authorization>
				<allow users="?" />
			</authorization>
		</system.web>
	</location>
	<location path="~/Web.sitemap">
		<system.web>
			<authorization>
				<allow users="?" />
			</authorization>
		</system.web>
	</location>
  <location path="~/App_Data">
    <system.web>
      <authorization>
        <allow users="?" />
      </authorization>
    </system.web>
  </location>
  
	<system.webServer>
		<staticContent>
			<mimeMap fileExtension=".sitemap" mimeType="application/xml" />
      <remove fileExtension=".woff"/>
      <mimeMap fileExtension=".woff" mimeType="application/octet-stream" />
      <remove fileExtension=".ttf"/>
      <mimeMap fileExtension=".ttf" mimeType="application/octet-stream" />
      <remove fileExtension=".svg"/>
      <mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
      <remove fileExtension=".eot"/>
      <mimeMap fileExtension=".eot" mimeType="application/octet-stream" />
      <remove fileExtension=".pdf"/>
      <mimeMap fileExtension=".pdf" mimeType="application/pdf" />
      <remove fileExtension=".webm"/>
      <mimeMap fileExtension=".webm" mimeType="video/webm" />
		</staticContent>
	</system.webServer>
</configuration>
